install:
  - ps: iex (iwr https://deno.land/x/install/install.ps1)

test_script:
  - deno -v
  - mkdir tmp
  - deno --allow-run --allow-env test/test-task.ts --cwd=test | tee tmp/result
  - deno --allow-run --allow-env test/test.ts
  - deno --allow-run --allow-env example/example.ts --cwd=example all

build: off
